@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html, body {
  height: 100%;
}

/* Selection */
::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Prefer smooth edges for the CRT look */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
